{% extends 'master.html' %}

{% block title %}
FAQs
{% endblock %}

{% block meta %}
<meta content="mo bizin travay" name="description">
<meta content="mo bizin travay" name="keywords">
{% endblock %}

{% block body %}

<div class="container main-spacer">

    <div class="row">

        <div class="col-md-6 mx-auto text-center">
            <div class="mbt-text-chewy mb-5">
                <h1 style="font-size: 60px;">
                    Frequently Asked
                </h1>
                <h1 style="font-size: 80px;">
                    Questions
                </h1>
            </div>

            <div class="position-relative mb-5">

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#firstfaq" aria-expanded="false"
                        aria-controls="firstfaq" class="mbt-faq-title">
                        What is Mo Bizin Travay? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="firstfaq">
                        <div class="mbt-faq-body">
                            Mo Bizin Travay is a job aggregation website that collects job listings from various sources
                            where jobs are advertised. It serves as a centralized platform for individuals seeking
                            employment opportunities
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#secondfaq" aria-expanded="false"
                        aria-controls="secondfaq" class="mbt-faq-title">
                        How does Mo Bizin Travay work? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="secondfaq">
                        <div class="mbt-faq-body">
                            Mo Bizin Travay employs web scraping techniques to gather job postings from multiple online
                            sources such as job boards, company websites, and recruitment agencies. These listings are
                            then compiled and displayed on the Mo Bizin Travay website for easy access by job seekers.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#thirdfaq" aria-expanded="false"
                        aria-controls="thirdfaq" class="mbt-faq-title">
                        Is Mo Bizin Travay free to use? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="thirdfaq">
                        <div class="mbt-faq-body">
                            Yes, Mo Bizin Travay is completely free for job seekers. There are no subscription fees or
                            charges for accessing job listings on the platform.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#fourthfaq" aria-expanded="false"
                        aria-controls="fourthfaq" class="mbt-faq-title">
                        How often are job listings updated on Mo Bizin Travay?
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="fourthfaq">
                        <div class="mbt-faq-body">
                            Job listings on Mo Bizin Travay are updated regularly to ensure that users have access to
                            the latest employment opportunities. The frequency of updates may vary depending on the
                            sources from which listings are scraped.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#fifthfaq" aria-expanded="false"
                        aria-controls="fifthfaq" class="mbt-faq-title">
                        Can I apply for jobs directly through Mo Bizin Travay? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="fifthfaq">
                        <div class="mbt-faq-body">
                            While Mo Bizin Travay provides comprehensive job listings, users typically need to visit the
                            original source of the job posting to apply. Mo Bizin Travay serves as a gateway to discover
                            job opportunities, but the application process itself usually takes place on the respective
                            company's website or the platform where the job was originally posted.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#sixthfaq" aria-expanded="false"
                        aria-controls="sixthfaq" class="mbt-faq-title">
                        How can I report inaccuracies or issues with job listings on Mo Bizin Travay? <i
                            class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="sixthfaq">
                        <div class="mbt-faq-body">
                            If you encounter any inaccuracies or issues with job listings on Mo Bizin Travay, please
                            contact our support team through the provided contact us page. Your feedback
                            is valuable in helping us maintain the quality and accuracy of our job listings.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}