{% extends 'master.html' %}

{% block title %}
Recruiters
{% endblock %}

{% block meta %}
<meta content="mo bizin travay" name="description">
<meta content="mo bizin travay" name="keywords">
{% endblock %}

{% block body %}

<div class="container main-spacer">

    <div class="row">

        <div class="col-md-6 mx-auto text-center">
            <div class="mbt-text-chewy mb-5">
                <h1 style="font-size: 60px;">
                    Onboarded
                </h1>
                <h1 style="font-size: 80px;">
                    Recruiters
                </h1>
            </div>

            <div class="position-relative mb-5">

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false"
                        aria-controls="collapseExample" class="mbt-faq-title">
                        Can you apply directly on Mo Bizin Travay? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="collapseExample1">
                        <div class="mbt-faq-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false"
                        aria-controls="collapseExample" class="mbt-faq-title">
                        Is Mo Bizin Travay the same as MyJob and Jobs.Mu? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="collapseExample1">
                        <div class="mbt-faq-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample" class="mbt-faq-title">
                        How can we add more recruiters to Mo Bizin Travay? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="mbt-faq-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample" class="mbt-faq-title">
                        Is Mo Bizin Travay free? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="mbt-faq-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample" class="mbt-faq-title">
                        Do you need an account to use Mo Bizin Travay? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="mbt-faq-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>

                <div class="faq-wrapper">
                    <div data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample" class="mbt-faq-title">
                        How do i get in touch for feature requests? <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="mbt-faq-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}